<div class="jumbotron">
    <div class="row">
        <div class="col-md-3">
            <h3>Name:</h3>
            <h4>William Zink</h4>
            <h3>Twitter:</h3>
            <h4>@@ZinkNotTheMetal</h4>
            <h3>Git</h3>
            <h4>ZinkNotTheMetal</h4>
            <h3>Email:</h3>
            <h4><a href="mailto:williamdzink@gmail.com">williamdzink@gmail.com</a></h4>
            <h3>Location:</h3>
            <h4>Nashville</h4>
            <h3>Skills:</h3>
            <ul>
                <li>C#</li>
                <li>ASP.NET MVC 4 & 5</li>
                <li>Razor View Engine</li>
                <li>SQL Server (2008-2014)</li>
                <li>Agile / Scrum enviroments</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="@Url.Content("~/Content/images/logo_healthstream.png")" alt="HealthStream" style="padding-top: 10px"/>
            <p>
                I am currently employed at HealthStream as a mid-level developer. My team is actively developing the portfolio project within 
                the system. This project allows physicians to manage elements about themeselves and export a resume with ease.
            </p>
            <p>
                I achieved my Bachelor of Science in December of 2010 from <a href="http://www.valdosta.edu">Valdosta State University</a>
                Given my wide range of experience, my goal is to find a position with a reputable institution that will give 
                me the opportunity to lead and teach others what I have learned. I have a unique ability to talk with the designers and  
                programmers to achieve the best product possible. 
            </p>
        </div>
        <div class="col-md-3">
            <strong>Facebook:</strong>  <a href="http://www.facebook.com/wdzink">Facebook Profile</a><br />
            <strong>LinkedIn:</strong>  <a href="http://www.linkedin.com/profile/view?id=143899827">LinkedIn Profile</a>
        </div>
    </div>
</div>

